.bt_bg-293848{
  background-color: #293848;
}

.bt_bg-1abc9c{
  background-color: #1abc9c;
  border: transparent;
}

.bt_bg-ba4b63{
  background-color: #ba4b63;
}

.bt_bg-1ea4b6{
  background-color: #1ea4b6;
}

.bt_bg-140f0f{
  background-color: #140f0f;
}

.bt_bg-1c83c1{
  background-color: #1c83c1;
}

.bt_bg-0e38b5{
  background-color: #0e38b5;
}

.bt_bg-ccb2a3{
  background-color: #ccb2a3;
}

.bt_bg-3a546d{
  background-color: #3a546d;
  border: transparent;
}

span{
  color: #1abc9c;
}

.debug_border{
  border: 1px solid red;
}